<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FinanceTracker</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <section class="section">

    <div class="container">

      <h1 class="title">
        <img src="assets/icon.png" style="height: 1.5em; vertical-align: middle;">
        Finance Tracker

      </h1>
      <p class="subtitle">
        Designed by <strong>Kaan Koc</strong>

      </p>

    </div>
  </section>



  <section class="section">
    <div class="container">
      <div class="box">
        <div class="columns">
          <div class="column is-half">
            <!-- Left side content goes here -->
            <div class="column">
              <nav class="level">
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Total Expenses</p>
                    <p class="title expense">{{this.transactionService.totalExpense}}$</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Total Income</p>
                    <p class="title income">{{this.transactionService.totalIncome}}$</p>
                  </div>
                </div>
              </nav>
              <br>
              <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-menu">
                  <div class="navbar-start">
                    <a class="navbar-item" (click)="showTransactions()">Transactions</a>
                    <a class="navbar-item" (click)="showCategories()">Categories</a>
                  </div>
                </div>
              </nav>
              <table class="table is-fullwidth" *ngIf="showingTransactions">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Amount ($)</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Note</th>
                    <th>Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of paginatedTransactionData; let i=index">
                    <td>{{i + (itemsPerPage * (currentPage - 1)) + 1}}</td>
                    <td>{{t.amount}}$</td>
                    <td>{{ t.category?.icon}} {{t.category?.title}}</td>
                    <td>{{convertToFormattedString(t.date)}}</td>
                    <td> <button class="button is-small " (click)="showNoteModal(t.note)" *ngIf="t.note !== ''">
                        <span class="icon is-small">
                          <p>. . .</p>
                          <i class="fas fa-ellipsis-v"></i>
                        </span>
                      </button></td>
                    <td>
                      <p class="buttons">
                        <button class="button is-small is-danger" (click)="deleteTransaction(t.id)">
                          <span class="icon is-small has-text-danger">
                            <img src="/assets/cross.png">
                          </span>
                        </button>
                        <button class="button is-small is-info" (click)="editTransaction(t.id)">
                          <span class=" icon is-small">
                            <img src="/assets/edit.png">
                          </span>
                        </button>
                      </p>

                    </td>
                  </tr>
                </tbody>
              </table>


              <!-- Categories List -->
              <table class="table is-fullwidth" *ngIf="showingCategories">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Icon</th>
                    <th>Type</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of paginatedCategorynData; let i=index">
                    <td>{{i + (itemsPerPage * (currentPage - 1)) + 1}}</td>
                    <td>{{c.title}}</td>
                    <td>{{c.icon}}</td>
                    <td>{{c.type}}</td>
                    <td>
                      <p class="buttons">
                        <button class="button is-small is-danger" (click)="deleteCategory(c.id)">
                          <span class="icon is-small has-text-danger">
                            <img src="/assets/cross.png">
                          </span>
                        </button>
                        <button class="button is-small is-info" (click)="editCategory(c.id)">
                          <span class=" icon is-small">
                            <img src="/assets/edit.png">
                          </span>
                        </button>
                      </p>

                    </td>
                  </tr>
                </tbody>
              </table>

              <ng-container *ngIf="transactionService.list.length > 1 && showingTransactions">
                <app-pagination [totalItems]="transactionService.list.length" [itemsPerPage]="itemsPerPage"
                  [currentPage]="currentPage" (onClick)="changePage($event)"></app-pagination>
              </ng-container>

              <ng-container *ngIf="categoryService.list.length > 1 && showingCategories">
                <app-pagination [totalItems]="categoryService.list.length" [itemsPerPage]="itemsPerPage"
                  [currentPage]="currentPage" (onClick)="changePage($event)"></app-pagination>
              </ng-container>

              <!-- Modal Component Transaction -->
              <div class="modal" [ngClass]="{'is-active': transactionModalActive}">
                <div class="modal-background" (click)="cancelTransactionButton()"></div>
                <div class="modal-card">
                  <header class="modal-card-head">
                    <p class="modal-card-title">Enter Transaction</p>
                    <button class="delete" aria-label="close" (click)="cancelTransactionButton()"></button>
                  </header>


                  <section class="modal-card-body">
                    <!-- Transaction Form ... -->



                    <div class="field">
                      <label class="label">Category</label>
                      <div class="control">
                        <div class="select is-rounded">
                          <select [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}">
                            <option value="">Select Category</option>
                            <option *ngFor="let c of categoryService.list" [value]="c.id">{{c.icon}}{{c.title}}</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <!-- Amount Input-->
                    <label class="label">Amount</label>
                    <div class="field has-addons">
                      <p class="control">
                        <span class="select">
                          <select>
                            <option>$</option>
                            <option>£</option>
                            <option>€</option>
                          </select>
                        </span>
                      </p>
                      <p class="control">
                        <input class="input" type="text" placeholder="Amount of money" [(ngModel)]="amount"
                          [ngModelOptions]="{standalone: true}">

                      </p>
                    </div>


                    <!-- Note Input Area -->

                    <div class="field">
                      <label class="label">Note</label>
                      <div class="control">
                        <textarea class="textarea" placeholder="type here..." [(ngModel)]="note"
                          [ngModelOptions]="{standalone: true}"></textarea>
                      </div>
                    </div>

                    <label class="label">Date</label>
                    <div class="control">
                      <input [(ngModel)]="date" [ngModelOptions]="{standalone: true}" type="date">

                    </div>
                    <!-- Submit Button -->



                  </section>
                  <footer class="modal-card-foot">
                    <div class="buttons">
                      <button class="button is-success" (click)="submitTransactionForm()">Submit</button>
                      <button class="button" (click)="cancelTransactionButton()">Cancel</button>
                    </div>
                  </footer>


                </div>
              </div>

              <div class="modal" [ngClass]="{'is-active': noteModelActive}">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <!-- Any other Bulma elements you want -->
                  <div class="content is-normal">
                    <h1>Note</h1>
                    <p> {{ noteContent }}</p>

                  </div>
                </div>
                <button class="modal-close is-large" aria-label="close" (click)="closeNodeModel()"></button>
              </div>

              <!-- Modal Component -->
              <div class="modal" [ngClass]="{'is-active': categoryModalActive}">
                <div class="modal-background" (click)="cancelCategoryButton()"></div>
                <div class="modal-card">
                  <header class="modal-card-head">
                    <p class="modal-card-title">{{ IsEditModeCategory ? 'Edit Category' : 'Create Category' }}</p>
                    <button class="delete" aria-label="close" (click)="cancelCategoryButton()"></button>
                  </header>


                  <section class="modal-card-body">
                    <!-- Category Form ... -->

                    <!-- Title Input-->
                    <div class="field">
                      <label class="label">Title</label>
                      <div class="control">
                        <input class="input mb-3" type="text" placeholder="Input Title here.." [(ngModel)]="title"
                          [ngModelOptions]="{standalone: true}" />
                      </div>
                    </div>

                    <!-- Icon Input Area -->
                    <div class="field">
                      <label class="label">Icon (Emoji)</label>
                      <div class="control">
                        <input class="input mb-3" type="emoji" placeholder="Input Emoji here.." [(ngModel)]="icon"
                          [ngModelOptions]="{standalone: true}" />
                      </div>
                    </div>

                    <!-- Type Input Area -->
                    <div class="field mb-5">
                      <!-- Added mb-5 for more spacing -->
                      <label class="label">Category</label>
                      <div class="control">
                        <div class="select is-rounded">
                          <select [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
                            <option value="Expense">Expense</option>
                            <option value="Income">Income</option> <!-- Fixed value of Income -->
                          </select>
                        </div>
                      </div>
                    </div>
                  </section>

                  <footer class="modal-card-foot">
                    <div class="buttons">
                      <button class="button is-success" (click)="submitCategoryForm()">{{ IsEditModeCategory ? 'Update'
                        :
                        'Submit' }}</button>
                      <button class="button" (click)="cancelCategoryButton()">Cancel</button>
                    </div>
                  </footer>


                </div>
              </div>



              <button class="button is-pulled-right" (click)="OpenTransactionModel()" *ngIf="showingTransactions">Enter
                Transaction</button>

              <button class="button is-pulled-right" (click)="OpenCategoryModal()" *ngIf="showingCategories">Enter
                Category</button>

            </div>

          </div>
          <div class="column is-half">
            <!-- Right side graph goes here -->
            <div class="column">
              <app-pie-chart></app-pie-chart>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</body>

</html>