
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">

  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          <img src="assets/icon.png" style="height: 1.5em; vertical-align: middle;">
          Finance Tracker
        </h1>
        <p class="subtitle">
          Designed by <strong>Kaan Koc</strong>
        </p>
        
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="box">
          <div class="columns">
            <div class="column is-half">
              <!-- Left side content goes here -->
              <div class="column">
                <nav class="level">
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Total Expenses</p>
                      <p class="title" >3,456</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Total Income</p>
                      <p class="title">123</p>
                    </div>
                  </div>
                </nav>
                <br>    
                <table class="table is-fullwidth">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Note</th>
                      </tr>
                    </thead>
                    <tbody>
                        <td>1</td>
                        <td>435$</td>
                        <td>Food</td>
                        <td>23/03/2034</td>
                        <td>Note</td>

                    </tbody>
                </table>
                
              </div>

            </div>
            <div class="column is-half">
              <!-- Right side graph goes here -->
              <div class="column has-background-primary">
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
  </body>
</html>

